<div class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-secondary">Uhayele</h2>
        <p class="text-white">Tornando, uetentes e médicos cada vez mais próximos </p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-secondary">Mapa do site</h2>
        <ul class="list-unstyled">
          <a href="#" class="text-white">Home</a>
          <br>
          <a href="#" class="text-white">Sobre nós</a>
          <br>
          <a href="#" class="text-white">Consulte os nossos serviços</a>
          <br>
          <a href="#" class="text-white">Histórias</a>
        </ul>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">Contactos</h2>
        <p>
          <a href="tel:+244 -924 550 462" class="text-white">
            <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+244 -924 550 462</a>
        </p>
        <p>
          <a href="mailto:info@uhayele.com" class="text-white">
            <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@uhayele.com</a>
        </p>
        <p>
          <a href="https://www.google.it/maps/place/Huambo,+Angola/@-12.7699705,15.7063845,13z/data=!3m1!4b1!4m5!3m4!1s0x1bb775b4dbf6dfdb:0x43a78822d1399cdb!8m2!3d-12.7739761!4d15.7468535?hl=it" class="text-white" target="_blank">
            <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>Huambo,Rua Simoes do Amaral</a>
        </p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-light">Subscreva</h2>
        <form>
          <fieldset class="form-group text-white">
            <label for="exampleInputEmail1">Receba mensalmente informações úteis para melhorar a sua saúde</label>
            <input type="email" class="form-control" placeholder="..Email"> </fieldset>
          <button type="submit" class="btn btn-outline-secondary">Enviar</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-white">© Copyright 2018 uhayele - Todos os Direitos Reservados. </p>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>