
<div class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend class="center"> Adicionar Paciente</legend>

    <!-- File Button -->
   <div class="form-group">
      <br>
      <br>
      <label class="col-md-4 control-label" for="Photo">Fotografia:</label>
      <input [(ngModel)]="fotografia" class="input-file" type="file">

    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bi">Número BI :</label>
      <div class="col-md-4">
        <input [(ngModel)]="bi" type="text" placeholder="" class="form-control input-md">
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Estado civil :</label>
      <div class="col-md-4">
        <select [(ngModel)]="estadocivil" placeholder="" class="form-control input-md">
          <option [ngValue]="estadocivil" value="1">Casado</option>
          <option [ngValue]="estadocivil" value="2">Solteiro</option>
        </select>
      </div>
    </div>

    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="Nome do Paciente ">Nome do Paciente :</label>
      <div class="col-md-4">
        <input [(ngModel)]="nomepaciente"  type="text" placeholder="" class="form-control input-md">
      </div>
    </div>


    <!-- Select Basic -->
    <div class="form-group" >
      <label class="col-md-4 control-label" for="Estado do Paciente ">Estado do Paciente : </label>
      <div class="col-md-4">
        <select [(ngModel)]="estadopaciente" class="form-control">
          <option [ngValue]="1">Normal</option>
          <option [ngValue]="2">Cuidados intensivos</option>
          <option [ngValue]="3">Doença crónica</option>
        </select>
      </div>
    </div>


    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Registo de doença "> Doença Crónica : </label>
      <div class="col-md-4">
        <select [(ngModel)]="doenca" class="form-control">
          <option [ngValue]="1">Nenhuma</option>
          <option [ngValue]="2">Diabetes</option>
          <option [ngValue]="3">Acidente Vascular Cerebral</option>
          <option [ngValue]="4">Doenças Cardíacas</option>
        </select>
      </div>
    </div>



    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Data de Registo:</label>
      <div class="col-md-4">
        <input [(ngModel)]="dataregisto" nome="dataregisto" class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
          id="example-datetime-local-input">

      </div>
    </div>

    <!-- Multiple Radios -->
    <div class="form-group">
        <div class="form-group">
          <label class="col-md-4 control-label" for="Genero">Gênero:</label>
          <div class="col-md-4">
            <div class="radio">
              <label for="Genero-0">
                <input [(ngModel)]="feminino" type="radio" id="Genero-0" value="1" checked="checked"> Feminino
              </label>
            </div>
            <div class="radio">
              <label for="Genero-1">
                <input [(ngModel)]="masculino" type="radio" id="Genero-1" value="2" checked="checked"> Masculino
              </label>
            </div>
          </div>
        </div>

    
      </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Data de Nascimento">Data de Nascimento :</label>
      <div class="col-md-4">
        <input [(ngModel)]="datanascimento" nome="datanascimento" class="form-control" type="date" value="2018-06-12" id="example-date-input">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="NIC">Filiaçao :</label>
      <div class="col-md-4">
        <input [(ngModel)]="filiacao" id="NIC" name="filiacao" type="text" placeholder="" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Contact Number">Telefone :</label>
      <div class="col-md-4">
        <input [(ngModel)]="telefone" id="Contact Number" name="telefone" type="text" placeholder="" class="form-control input-md">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Address">Morada :</label>
      <div class="col-md-4">
        <textarea [(ngModel)]="morada" class="form-control" id="Address" name="morada"></textarea>
      </div>
    
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Save"></label>
      <div class="col-md-4">
        <button (click)="adpaciente()" id="Save" name="adicionarPaciente" class="btn btn-success">Guardar</button>
      </div>
    </div>

  </fieldset>
</div>