<div class="py-5 text-center" style="background-image: url(&quot;https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/FyKJcnp/successful-black-woman-doctor-standing-in-office_vk1ibjfbe__F0000.png&quot;); background-repeat:no-repeat;
background-position:top;background-size:100% 100%; max-height: 700px ">
  <div class="container" >

    <div class="col-lg-6"style=" text-align: left">
      <!--<h2>Hoverable Dropdown</h2>
      <p>Move the mouse over the button to open the dropdown menu.</p>-->

      <div class="dropdown">
        <button class="dropbtn">Instituições Hospitalares</button>
        <div class="dropdown-content">
          <a href="#">Hospital Geral do Huambo</a>
          <a href="#">Hospital Municipal</a>
          <a href="#">Hospital da Caála</a>
          <a href="#">Hospital do Londuimbali</a>
          <a href="#">Hospital do Sanatório</a>
          <a href="#">Hospital da Mineira</a>
        </div>
      </div>
      <!--<h2>Hoverable Dropdown</h2>
      <p>Move the mouse over the button to open the dropdown menu.</p>-->

      <div class="dropdown">
        <button class="dropbtn">Serviços Disponíveis</button>
        <div class="dropdown-content">
          <a href="#">Marcação de Consultas</a>
          <a href="#">Controlo de Fármacos</a>
          <a href="#">Gestão de Dados de Saúde</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6"style=" text-align: right;">
      <!--<h2>Hoverable Dropdown</h2>
      <p>Move the mouse over the button to open the dropdown menu.</p>-->

      <div class="dropdown">
        <button class="dropbtn">Especialidades</button>
        <div class="dropdown-content">
          <a href="#">Medicina Interna</a>
          <a href="#">Ginecologia e Obstetricia</a>
          <a href="#">Imagiologia</a>
          <a href="#">Neurologia</a>
          <a href="#">Oncologia</a>
          <a href="#">Otorrinoralingologia</a>
        </div>
      </div>
      <!--<h2>Hoverable Dropdown</h2>
      <p>Move the mouse over the button to open the dropdown menu.</p>-->

      <div class="dropdown">
        <button class="dropbtn">Saúde Pública</button>
        <div class="dropdown-content">
          <a href="#">Assistência a Doenças Crónicas</a>
          
        </div>
      </div>
    </div>
  </div>
</div>




<!--<div class = "container">
<h1>Informações Uteis</h1>

<div class="vertical-menu">
  <a href="#" class="active">Informações</a>
  <a href="#">Instituições Hospitalares</a>
  <a href="#">Serviços Disponiveis</a>
  <a href="#">Especialidades</a>
</div>
</div>-->