
/*#pg{
    background-color:#5F9F9F;
    position: relative; 
    max-width: 800px; /* Maximum width */
   /* margin: 0 auto; /* Center it
  } */
  .container{
    bottom: 10;
   /* Black background with transparency */
    color: black;
    width: 80%;
    padding: 10px;
}
  