<!-- ngFor tells angular to create one <li> element for per patient in patients in -->
  <!--<li *ngFor=" let paciente of pacientes"> </li>-->

  <!--NgIf includes Patient detail directive only if selected patient exist-->
<!--<Paciente-detail *ngIf="selectPaciente"></Paciente-detail>-->












 <div class="container">

 <h2> Ficha Paciente</h2>
 <br>
<div class = "col-lg-6">
    Nome: João Paulo Ribeiro<br>
    Doc.ident.: 120985667<br>
    Morada: Rua Serpa Pinto, Tchicala-Huambo<br>
    Doença crónica: Nenhuma.<br>
    Outras situações: .....<br>
    </div>
    <div class ="col-lg-6">
       Filiação: Pedro Ribeiro e Marcia dos anjos Ribeiro<br>
      Naturalidade: Huambo <br>
      Telefone: +244-920-000-000 <br>
 </div>
</div>
<hr>
 <br>
<div class="container">
     Histórico de Consulta e Medicação:         
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Consulta</th>
          <th>Motivo da Consulta</th>
          <th>Diagnóstico</th>
          <th>Conduta</th>
          <th>Tratamento</th>
          <th>Data/hora</th>
          <th>Receituário</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Medicina</td>
          <td>Dor nas aritculções</td>
          <td>Malária</td>
          <td>Ambulatório</td>
          <td>Farmacológico</td>
          <td>12/06/2018</td>
          <td>link para receita</td>
        </tr>
        <tr>
          <td>Medicina</td>
          <td>Dor nas aritculções</td>
          <td>Malária</td>
          <td>Ambulatório</td>
          <td>Farmacológico</td>
          <td>12/06/2018</td>
          <td>link para receita</td>
        </tr>
        <tr>
          <td>Medicina</td>
          <td>Dor nas aritculções</td>
          <td>Malária</td>
          <td>Ambulatório</td>
          <td>Farmacológico</td>
          <td>12/06/2018</td>
          <td>link para receita</td>
        </tr>
      </tbody>
    </table>
  </div>

  
 