<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>


<!--app-home></app-home>

    <app-registo></app-registo>
    <app-informations></app-informations>
   <app-entrar></app-entrar>
<app-contactos></app-contactos> 
<app-adicionar-paciente></app-adicionar-paciente>
<app-ficha-paciente></app-ficha-paciente>
<app-profissional-area></app-profissional-area>
<app-area-utente></app-area-utente>
<app-ficha-consulta></app-ficha-consulta-->